<a href="https://colab.research.google.com/github/detok3585/Python_Analytics/blob/main/lee_day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


1.
0부터 10까지의 난수를 이용하여 3*3 생성

In [1]:
import random as rd

ran = rd.randomrange(0,10)
ran

AttributeError: ignored


2.
평균이 0 이고, 표준편차가 1인 3*3 난수 정규분포를 생성

3.
1부터 12까지의 수로 이루어진 1차원(1*12) -> 2차원(3*4)로 변경

4.
arr = [[1, 2, 3],
       [4, 5, 6]]
을 사용하여       
[[1, 2, 3, 1, 2, 3],
 [4, 5, 6, 4, 5, 6]]
형태로 만들어라

============
arr2 =
[[1, 2, 3],
 [2, 2, 2],
 [3, 2, 1]]
=============

6. arr2 각 행을 더한 1차원 배열 생성
7. arr2 각 열별 [최대값, 최솟값] 배열 생성

8. 0 부터 1까지를 5개로 나누어 출력하라. (ex) [0, 0.25, 0.5, 0.75, 1] )

=================
df1 = 
     0    1    2
0 |  1    2    3
1 |  4    5    6
2 | NaN   8    9
3 | 10   NaN   12
=================

9. df1에서 NaN값이 있는 행을 제거하여 출력
10. df1에서 NaN값을 평균으로 대체하여 출력

==========================================================================
df2 = pd.DataFrame({'name': ['이순신', '강감찬', '을지문덕', '김유신'],
                    'dept': ['연구개발', '영업', '연구개발', '인사']}
                    
df3 = pd.DataFrame({'emp_name': ['이순신', '강감찬', '을지문덕', '김유신'],
                    'project': ['S', 'D', 'A', 'S']}
===========================================================================

11. df2와 df3 을 df2의 name과 df3의 emp_name을 사용하여 inner Join
12. df2와 df3 을 df2의 name과 df3의 emp_name을 사용하여 outer Join 

======================================
seaborn 타이타닉 데이터 셋을 사용
import seaborn as sb
titanic = sb.load_dataset("titanic")
======================================

13. 성별을 그룹화하여, 각 성별 생존여부 평균을 구하라.
14. 성별(행)과 클래스(열)로 그룹화하여, 생존여부 평균을 구하라.